
h1{
    font-family: "Gugi", sans-serif;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}



.lorem1{ text-align: right;}
.lorem2{ text-align: left;
         font-size: 1.2em;
         font-weight:900;
    }
        
.lorem3{ text-align: center;}
.lorem4{ text-align: justify;}

main{
    border: 1px solid black;
    margin: 20px auto;
    width: 70%;
    padding: 20px;
    border-radius: 10px;
}

body{
    margin: 0 auto ;
    text-align: center;
}

